<div class="ui-replay-dialog modal fade" data-backdrop="false" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="btn-group replay-btns" role="group">
                    <!--<button type="button" class="btn btn-default btn-play">-->
                        <!--<i class="glyphicon glyphicon-play"/>-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-default btn-stop">-->
                        <!--<i class="glyphicon glyphicon-stop"/>-->
                    <!--</button>-->
                    <button type="button" class="btn btn-default btn-step-back">
                        <i class="glyphicon glyphicon-step-backward"/>
                    </button>
                    <button type="button" class="btn btn-default btn-step-forward">
                        <i class="glyphicon glyphicon-step-forward"/>
                    </button>
                </div>

                <button title="Exit replay mode" type="button" class="close" data-dismiss="modal">×</button>
                <i title="Toggle details" class="fa fa-minus toggle-details-btn"/>
            </div>
            <div class="modal-footer">
                <h5 class="status-header"></h5>
                <pre class="status-area"></pre>
                <span class="badge rec-badge">0</span>
            </div>
        </div>
    </div>
</div>